/* 鼠标悬停样式 */
.announcement-link {
    font-size: 17px;
    color: #05038C;
    text-decoration: none; /* 去除底线 */
}
.announcement-link:hover {
    color: #199976;
    text-decoration: underline; /* 显示底线 */
}

/* 當mouse hover，背景變色*/
.announcement-row {
    padding: 10px;
}
.announcement-row:hover{
    background-color: #C8CDCC;
}

/* 固定大小的表格布局 */
.date-cell {
    width: 110px; /* 适当调整表格宽度 */
    text-align: center;
    border-collapse: collapse;
}

.theme-cell {
    width: 100px; /* 适当调整表格宽度 */
    text-align: center;
    border-collapse: collapse;
}

/* 标题单元格样式 */
.headtitle-cell {
    width: 700px; /* 适当调整标题单元格宽度 */
    display: -webkit-box;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 最大行数 */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 跑馬燈*/
.marquee-container {
    width: 780px;
    overflow: hidden;
    
}

.marquee-content {
    white-space: nowrap;
    animation: marquee 25s linear infinite;
    color: red;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* 最新消息 */
.news-cell {
    width: 100px; /* 适当调整表格宽度 */
    text-align: center;
    border-collapse: collapse;
}

/*訊息公告*/
.ann-news {
    color: black;
    font-size: 25px;
    font-family: "微軟正黑體", Arial, sans-serif;
}

.page-button-table{
    width: 888px;
    text-align:center;
}

.announcement-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    color: #05038C; /* 原本字用蓝色 */
  }
  
  /* Hover 时字体变色 */
  .announcement-button:hover {
    color: #199976; /* Hover 时字体变成红色 */
    border-bottom: 1px solid;
  }

  .announcement-button.selected {
    color: black;
  }

  .announcement-header {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .announcement-options {
    text-align:center;
    display: none;
    position: absolute;
    width: 100px;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .announcement-header:hover .announcement-options {
    display: block;
    padding: 5px 0;
  }
  